doctype html
html
  head
    // TAG MANAGER
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NDXQP8M');

    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=yes", name="viewport")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js")
    //Favicons
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
    link(rel="manifest", href="/images/site.webmanifest")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#770600")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#770600")
    //React
    script(src="https://fb.me/react-15.0.0.js")
    script(src="https://fb.me/react-dom-15.0.0.js")
    //FontAwesome
    script(defer, src="https://pro.fontawesome.com/releases/v5.0.8/js/all.js", integrity="sha384-816IUmmhAwCMonQiPZBO/PTgzgsjHtpb78rpsLzldhb4HZjFzBl06Z3eu4ZuwHTz", crossorigin="anonymous")
    //MapBox
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet')
    //Typekit
    script(src="https://use.typekit.net/csp0cwt.js")

    script. 
        try{Typekit.load({ async: true });}catch(e){}
  body
  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NDXQP8M" height="0" width="0" style="display:none;visibility:hidden")
  div#fb-root
  script
    include facebookSDK.js
  block content
    
  script(src='/javascripts/bundle.js')
  script(src='/javascripts/global.js')
    
